.navbar {
  align-items: center;
  background-color: #ffc700;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.gap {
  background-color: #ffc700;
  height: 70px;
}

.container {
  align-items: center;
  display: flex;
}

.row {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 -15px;
}

.logo {
  padding: 15px;
}

.button {
  background-color: #433434;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.825rem;
  font-weight: 700;
  line-height: 1rem;
  margin-right: 15px;
  min-width: 120px;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}
.button:last-child {
  margin-right: 0;
}

.navlist {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
  position: relative;
}

.cart {
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
  padding: 6px;
  position: relative;
}
.cart > img {
  height: 32px;
  width: 32px;
}

.profile {
  cursor: pointer;
  height: 70px;
  width: 70px;
  padding: 12px;
  position: relative;
}
.profile > img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dropdown {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125),
    4px 4px 20px rgba(0, 0, 0, 0.125);
  margin-top: 15px;
  min-width: 200px;
  padding: 10px 0;
  position: absolute;
  transition: opacity 250ms, transform 250ms;

  top: 100%;
  right: 0;
}
.dropdown.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10px);
}
.dropdown.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
}

.dropdown__menu {
  align-items: center;
  color: #433434;
  cursor: pointer;
  display: flex;
  padding: 12px 20px;
}
.dropdown__menu:hover {
  background-color: #ffc700;
  color: #433434;
  text-decoration: none;
}

.dropdown__group {
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}
.dropdown__group:last-child {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 10px;
}

.dropdown__icon {
  height: 30px;
  width: 30px;
}
.dropdown__icon > img {
  height: 100%;
  width: 100%;
}

.dropdown__title {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.125rem;
  margin-left: 20px;
  white-space: nowrap;
}

.triangle {
  height: 24px;
  width: 24px;
  position: absolute;

  top: -15px;
  right: 35px;
}

.triangle > img {
  height: 100%;
  width: 100%;
}

.counter {
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  font-weight: 800;
  height: 20px;
  width: 20px;
  justify-content: center;
  line-height: 0.75rem;
  position: absolute;
  z-index: 1;

  top: 0;
  right: 0;
}
